@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --color-fundo: #006494;
    --color-div: #1b98e0e6;
    --color-font: #e8f1f2;
    --color-hover-td: #00000044;
}

body{
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0.1px;
    background-color: var(--color-fundo);
    color: var(--color-font);
    overflow: hidden;
    scrollbar-width: none;
}

.center-table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #013d5f;
    border-radius: 1rem;
    background-color: var(--color-div);
    padding: 1.5rem;
    box-shadow: 7px 7px 10px #013d5f;
    max-height: 80%;
    min-width: 60%;
    overflow: hidden;
}

.modern-table{
    display: block;
    position: relative;
    width: 95%;
    max-height: 430px;
    text-align: center;
    border-collapse: collapse;
    overflow-y:scroll;
    padding: 0;
    box-shadow: inset 0px -4px 10px #013d5f,
                inset 0px 4px 10px #013d5f;
    border-radius: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

th, td{
    padding: 0.8rem;
    border-bottom: 1.5px solid #013d5f;
    width: 1%;

}

tr:hover:nth-child(1n + 2) {
    background-color: var(--color-hover-td);
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

/*scrollbar tratamento*/

::-webkit-scrollbar{
    width: 8px;
    height: 10px!important;
    display: block;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-font);
    border-radius: 1rem;
}

::-webkit-scrollbar-track-piece:end{
    background: transparent;
    margin-bottom: 12px;
}
::-webkit-scrollbar-track-piece:start{
    margin-top: 12px;
    background: transparent;
}